body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-container{
    width: 50%;
    margin: auto;
}

#heading-container{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ececec;
}

#heading{
    color: gray;
    margin-bottom: 3px;
}

#description-section{
    width: 98%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid #ececec;
    padding-left: 1rem;
    transition: all 0.5s ease-in-out;
}

#description-section:hover {
    background-color: rgb(234, 249, 255);
}
#description-section:hover #description{
    background-color: rgb(234, 249, 255);
}

label{
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

#description{
    height: 2rem;
    width: 95%;
    border: none;
    font-size: 1rem;
    outline: none;
    color: gray;
    transition: all 0.5s ease-in-out;
    /* padding: 0; */
    /* margin-left: 5px; */
}

#category-dueDate{
    width: 100%;
    height: 4rem;
    display: flex;
    border-bottom: 1px solid #ececec;
}


#category-section{
    width: 50%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    border-right: 1px solid #ececec;
    transition: all 0.5s ease-in-out;
}

#category-section:hover #category{
    background-color: rgb(234, 249, 255);
}
#category-section:hover{
    background-color: rgb(234, 249, 255);
}

#category{
    width: 90%;
    height: 2rem;
    border: 0;
    font-size: 1rem;
    color: gray;
    outline: none;
    transition: all 0.5s ease-in-out;
}


#dueDate{
    width: 50%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    transition: all 0.5s ease-in-out;
}

#dueDate:hover #date{
    background-color: rgb(234, 249, 255);
}
#dueDate:hover{
    background-color: rgb(234, 249, 255);
}

#date{
    width: 90%;
    height: 2rem;
    border: 0;
    font-size: 1rem;
    color: gray;
    outline: none;
    transition: all 0.5s ease-in-out;
}

#add-delete{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-delete button{
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border: 0;
}

#add-btn{
    width: 20%;
    height: 3rem;
    margin-right: 4px;
    background-color: rgb(31, 26, 26);
}

#add-delete a{
    width: 20%;
    height: 3rem;
    margin-left: 3px;
}

#del-btn{
    width: 100%;
    height: 100%;
    background-color: red;
}

#add-delete i{
    margin-right: 2px;
}

#todo-container{
    width: 50%;
    margin: auto;
}

.todo{
    width: 95%;
    height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    padding: 0 1rem;
}

.task-container{
    width: 70%;
    height: 5rem;
    display: flex;
}

.task{
    height: inherit;
    display: flex;
    flex-direction: column;
}

.task-time{
    height: 2rem;
    display: flex;
    align-items: center;
}

.check{
    height: 1rem;
    margin-right: 1rem;
    transform: scale(1.4);
    margin-top: 1rem;
}

.task-time i{
    color: gray;
    margin-right: 0.7rem;
}

.task > p{
    font-size: 1.2rem;
    color: gray;
    margin-top: 0.8rem;
    margin-bottom: 1px;
}

span{
    color: gray;
    font-size: 14px;
}

.category-btn{
    width: 12%;
    height: 2.5rem;
    font-size: 14px;
    color: white;
    border: 0;
    background-color: red;
}

